<H1>EDIT</H1>

<form action="/restaurants" method="patch">

<p>Nom Restaurant <input type="text" name="restaurants[name]" value="Dindon"></p>
<p>Nombre de Stars <input type="number" name="restaurants[stars]" value="3"></p>
<p>Restaurant Adresse <input type="text" name="restaurants[address] value="Champs Elysées"></p>
<p>Créer restaurant<input type="submit" value="Create Restaurant"></p>

</form>
