<H1>NEW</H1>

<form action="/restaurants" method="post">

<input type="text" name="restaurants[name]">
<input type="number" name="restaurants[stars]">
<input type="text" name="restaurants[address]">

<input type="submit" value="Create Restaurant">
</form>
